.pageHeaderArea, .pageCopyrightArea{
    background-color: #1F2937;
}

.pageInformationArea, .pageActionArea{
    background-color: white;
} 

.pageQuoteArea{
    background-color: #E5E7EB;
}

.actionArea{
    background-color: #3882F6;
}

.welcomeImageArea{
    background-color:#E5E7EB
}