.pageHeaderArea, .pageCopyrightArea{
    background-color: #1F2937;
}

.pageInformationArea, .pageActionArea{
    background-color: white;
} 

.welcomeImageArea, .pageQuoteArea{
    background-color:#E5E7EB
}

.welcomeImageArea{
    background-color: darkgrey;
}

.actionArea, .actionLinkButton, .signUpLinkButton{
    background-color: #3882F6;
}

.actionLinkButton {
    border-color: white;
}

.infoImage{
    border-color: #3882F6;
}