*{
    font-family: 'Roboto', Helvetica, sans-serif;
}

.pageHeaderArea{
    color: #F9FAF8
}

.navigationArea{
    color: #E5E7EB
}

.navigationAreaLink{
    font-size: 18px;
}

.welcomeAreaLeft h1{
    font-size: 48px;
    font-weight: 900;
}

.welcomeDescription{
    font-size: 18px;
    color: #E5E7EB;
}

.quoteText{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quoteAuthor{
    font-size: 24px;
    font-weight: bolder;
    font-style: bold;
    text-align: right;
}

.actionCaption{
    font-size: 18px;
    font-weight: bold;
}

.actionInformation{
    color: #E5E7EB;
    text-align: center;
}

.actionButton a {
    color: white;
}

.copyright{
    color: #E5E7EB;
    text-align: center;
}