.pageHeaderArea{
    justify-content: space-between;
}

.navigationArea, .welcomeArea{
    padding-left: 25vw;
    padding-right: 25vw;

    display: flex;
    flex-direction: row;
}

.navigationArea{
    flex: 0.3;
}

.welcomeArea{
    flex: 0.7;
}

.welcomeAreaLeft, .welcomeAreaRight, .navigationAreaLeft, .navigationAreaRight{
    flex: 1;
    display: flex;
}

.navigationAreaRight{
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-content: center;
}

.navigationAreaLink{
    font-size: 18px;
    margin: 0.3em;
}


.welcomeAreaRight{
    justify-content: center;
    align-content: center;
}

.welcomeAreaLeft h1{
    margin-bottom: 0;
}

.welcomeArea p{
    margin-top: 0;
    margin-bottom: 0;
}

.welcomeArea a{
    margin-top: 0;
}


.welcomeImageArea{
    display: flex;
    flex: 1;
    text-align:center;
    justify-content: center;
    align-content: center;
    margin-left: 1vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-right: 1vw;
}