.pageHeaderArea, .pageCopyrightArea{
    background-color: #1F2937;
}

.pageInformationArea, .pageActionArea{
    background-color: white;
} 

.pageQuoteArea{
    background-color: #E5E7EB;
}

.actionArea, .actionLinkButton{
    background-color: #3882F6;
}

.actionLinkButton {
    border-color: white;
}

.welcomeImageArea{
    background-color:#E5E7EB
}