.pageInformationArea{
    justify-content: center;
    align-items: center;
}

.infoTextArea{
    display: flex;
    flex: 0.2;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.infoImageArea{
    display: flex;
    flex: 0.8;
    flex-direction: row;
    justify-content: space-between;
}

.infoImageContainer{
    display: flex;
    flex: 0.25;
    text-align: center;
}

.infoImage{
    width: 8vw;
    height: 8vw;
    border-style: solid;
    border-radius: 2em;
}