*{
    display: flex;
    flex-direction: column;
}

.pageHeaderArea, .pageInformationArea, .pageQuoteArea, .pageActionArea{
    display: flex;
    
    flex: 23;
    height: 23vh;
    min-height: 23vh;

    padding-bottom: 8vh;
}

.pageCopyrightArea{
    flex:8;
    height: 8vh;
    min-height: 8vh;

    /*border-color: red;
    border-style: solid;*/
}