*{
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.firstFifth, .secondFifth, .thirdFifth, .fourthFifth
{
    flex: 1;
    height: 24vh;
    min-height: 24vh;
}

.fifthFifth{
    flex: 1;
    height: 4vh;
    min-height: 4vh;
}

.navigationArea, .welcomeArea{
    display: flex;
    flex-direction: row;
}

.welcomeAreaLeft, .welcomeAreaRight, .navigationAreaLeft, .navigationAreaRight{
    flex: 1
}

.navigationAreaLeft {
  display: flex;
}

.navigationAreaLeft a {
  flex: 1
}


.firstFifth, .fifthFifth
{
    background-color: #1F2937;
}

.secondFifth, .fourthFifth{
    background-color: white;
}

.thirdFifth
{
    background-color: #E5E7EB;
}

.firstFifth{
    color: #F9FAF8
}

.navigationArea{
    color: #E5E7EB
}