

.navigationAreaLeft {
  display: flex;
  flex-direction: row;
}

.navigationAreaLeft a {
  flex: 1
}

.copyright{
    justify-content: center;
    padding: 2vh;
}

.fourthFifth{
    justify-content: center;
    align-items: center;
}

.actionArea{
    width: 50vw;
    height: 18vh;
}
